---
import Layout from "../layouts/Layout.astro"
import EstimateViewer from "@/components/EstimateViewer"
---

<Layout>
    <div class="container mx-auto px-4 py-8">
        <EstimateViewer client:load />
    </div>
</Layout>